%h1 Użytkownicy BookWeb
.books_list
   %p
      Poniżej znajduje się lista zarejestrowanych użytkowników.
      %p{:class => "pagination"}
      = my_page_entries_info(@paginate, {:entry_name_single => "użytkownika", :entry_name_plural => "użytkowników", :entry_name_few => "użytkowników"} ).html_safe
   %div
      - count = 0
      - @paginate.each do |u|
         - count = count + 1
         - if count > 4
            = clear_both
            - count = 1
         %div{:class => "books_show"}
            %strong= link_to u.username, {:action => "show", :id => u.username }
            %br/
            = link_to image_tag(u.avatar.url(:thumb), :class => "glow"), {:action => "show", :id => u.username }
      = clear_both
   %p= paginate @paginate
   %br/
   %br/
   = link_to "Powrót na stronę główną", :controller => "books"
.search_form
   %h3 Ostatnio aktywni użytkownicy
   %p
      %br/
      - if not @onlines.nil? and not @onlines.empty?
         %ul
            - @onlines.each do |online|
               %li= link_to online.username, {:action => "show", :id => online.username}
      - else
         Nie było żadnych aktywnych użytkowników w przeciągu ostatnich 10 minut...
