%h1 Użytkownicy BookWeb
%p
   Poniżej znajduje się lista zarejestrowanych użytkowników.
%p{:class => "pagination"}
   = my_page_entries_info(@paginate, {:entry_name_single => "użytkownika", :entry_name_plural => "użytkowników", :entry_name_few => "użytkowników"} ).html_safe
%div
   - count = 0
   - @paginate.each do |u|
      - count = count + 1
      - if count > 4
         %div{:style => "clear: both;"}
         - count = 0
      %div{:class => "books_show"}
         %strong= link_to u.username, {:action => "show", :id => u.username }
         %br/
         = link_to image_tag(u.avatar.url(:thumb), :class => "glow"), {:action => "show", :id => u.username }
   %div{:style => "clear: both;"}
%p= paginate @paginate
%br/
%br/
= link_to "Powrót na stronę główną", :controller => "books"
