%h1= @user.username
%p Zarejestrowany od #{on_bookweb_since(@user.created_at)} dni. Posiada w biblioteczce #{@assigments.count} pozycji oraz ocenił #{@opinions.count} książek.
%p Książki należącego do tego użytkownika:
%div
   - count = 0
   - @assigments.each do |a|
      - count = count + 1
      - if count > 4
         = clear_both
         - count = 0
      %div{:class => "books_show"}
         %strong= a.book.title
         %br/
         = link_to image_tag(a.book.photo.url(:thumb), :class => "glow"), :controller => "/books", :action => "show", :id => a.book.slug
   = clear_both
   %div
      = link_to "Pokaż wszystkie opinie tego użytkownika", {:action => "opinions", :id => @user.id}, :remote => true, :"data-update" => "opinions"
      #opinions
= link_to "Powrót do listy użytkowników", {:action => "index"}
