%h1 Witaj na BookWeb :)
.books_list
   %p
      Poniżej znajduje się lista książek. Jeżeli nie widzisz tam swojej książki, to
      = link_to "dodaj ją!", new_book_path
   %p{:class => "pagination"}
      = page_entries_info(@paginate, :html => false).html_safe
   %p
      %ul
         - @paginate.each do |b|
            %li= link_to b.title, {:action => "show", :id => b.slug }
      %br/
      %br/
   %p= paginate @paginate
.search_form
   %p
      Nie widzisz interesujących pozycji? Skorzystaj z wyszukiwarki!
      = search_form_for @query do |f|
         %p
            = f.label :title_cont
            = f.text_field :title_cont
         %p
            = f.label :desc_cont
            = f.text_field :desc_cont
         %p
            = f.label :author_cont
            = f.text_field :author_cont
         %p
            = f.submit
