%h1 BookWeb
.books_list
   %p
      Poniżej znajduje się lista książek. Jeżeli nie widzisz tam swojej książki, to
      = link_to "dodaj ją!", new_book_path
   %p{:class => "pagination"}
      = my_page_entries_info(@paginate, {:entry_name_single => "książke", :entry_name_plural => "książek", :entry_name_few => "książki"} ).html_safe
   %div
      - count = 0
      - @paginate.each do |b|
         - count = count + 1
         - if count > 3
            %div{:style => "clear: both;"}
            - count = 0
         %div{:class => "books_show"}
            %strong= link_to b.title, {:action => "show", :id => b.slug }
            %br/
            = link_to image_tag(b.photo.url(:thumb), :class => "glow"), {:action => "show", :id => b.slug }
      %div{:style => "clear: both;"}
      %br/
      %br/
   %p= paginate @paginate
.search_form
   %p
      Nie widzisz interesujących pozycji? Skorzystaj z wyszukiwarki!
      = search_form_for @query do |f|
         %p
            = f.label :title_cont
            = f.text_field :title_cont
         %p
            = f.label :desc_cont
            = f.text_field :desc_cont
         %p
            = f.label :author_cont
            = f.text_field :author_cont
         %p
            = f.submit
