%h1 BookWeb
.books_list
   %p
      Poniżej znajduje się lista książek. Jeżeli nie widzisz tam swojej książki, to
      = link_to "dodaj ją!", new_book_path
   %p
      - if not params[:page].nil?
         - get = "?page=#{params[:page]}"
      - else
         - get = ""
   %div{:style => "margin: 0 auto; width: 320px;"}
      = form_tag (books_path + get), :method => :get do
         = submit_tag "Sortuj po"
         = select_tag :order, '<option value="n">nazwie</option><option value="c">dacie dodania</option><option value="m">dacie modyfikacji</option>'.html_safe
         = select_tag :type, '<option value="a">rosnąco</option><option value="d">malejąco</option>'.html_safe
      = clear_both
   %p{:class => "pagination"}
      = my_page_entries_info(@paginate, {:entry_name_single => "książke", :entry_name_plural => "książek", :entry_name_few => "książki"} ).html_safe
   %div
      - count = 0
      - @paginate.each do |b|
         - count = count + 1
         - if count > 3
            = clear_both
            - count = 1
         %div{:class => "books_show"}
            %strong= link_to b.title, {:action => "show", :id => b.slug }
            %br/
            = link_to image_tag(b.photo.url(:thumb), :class => "glow"), {:action => "show", :id => b.slug }
      = clear_both
      %br/
      %br/
   %p= paginate @paginate, :params => {:page => params[:page]}
.search_form
   %p
      Nie widzisz interesujących pozycji? Skorzystaj z wyszukiwarki!
      = search_form_for @query do |f|
         %p
            = f.label :title_or_desc_or_author_cont, "Wpisz fragment tytułu, opisu lub autora", :style => "width: 260px;"
            = f.text_field :title_or_desc_or_author_cont, :style => "width: 180px;"
            = f.submit "Szukaj"
