%h1 Witaj na BookWeb :)
%p
   Poniżej znajduje się lista ostatnich trzydziestu pozycji.
%p
   = page_entries_info @paginate, :html => false
%p
   %ul
      - @paginate.each do |b|
         %li= link_to b.title, {:action => "show", :id => b.slug }
   %br
   %br
   = will_paginate @paginate
%br
%br
%p
   Nie widzisz interesujących pozycji? Skorzystaj z wyszukiwarki!
   = search_form_for @query do |f|
      %p
         = f.label :title_cont
         = f.text_field :title_cont
      %p
         = f.submit

