%h1 Dodaj nową książkę

= form_for(@book, :html => { :multipart => true }) do |f|
   = f.error_messages

   %p
      = f.label :title, "Tytuł książki"
      = f.text_field :name
   %p
      = f.label :desc, "Opis książki"
      = f.text_area :desc
   %p
      = f.label :author, "Autor książki"
      = f.text_field :author
   %p
      = f.label :photo, "Zdjęcie"
      = f.file_field :photo
   %p
      = f.submit "Dodaj pozycję"
%p= link_to 'Wróć', books_path %>
