%p
   %strong Opinie o tej książce
- if not @opinions.nil? and not @opinions.empty?
   %table{:style => "margin: 0 auto; width: 865px;"}
      %thead
         %tr
            %th{:scope => "cols", :style => "width: 165px"} Autor
            %th{:scope => "cols", :style => "width: 165px;"} Dodano
            %th{:scope => "cols", :style => "width: 480px;"} Opinia
            %th{:scope => "cols", :style => "width: 50px;"} Ocena
      %tbody
         - @opinions.each do |opinion|
            %tr
               %td{:style => "text-align: center;"}= link_to opinion.user.username, {:controller => "profiles", :action => "show", :id => opinion.user.username}
               %td{:style => "text-align: center;"}= human_date(opinion.created_at)
               %td
                  %p{:style => "text-align: center;"}
                     %strong= opinion.title
                  %p
                     = markdown(opinion.text)
               %td{:style => "text-align: center;"}= "#{opinion.rate}/6"
- else
   %p Nie dodano jeszcze żadnych opini.
