%h1= @book.title
%p
   = image_tag @book.photo.url(:medium)
%p
   = @book.desc
   %br
   %i= @book.author
- if @assigments.size > 0 then
   %p{:id => "holders"} Książkę posiadają:
   %ul
      - @assigments.each do |a|
         %li= link_to a.user.username, :controller => "/profiles", :action => "show", :id => a.user.username
%br
%br
= link_to "Edytuj pozycję", edit_book_path
%br
= link_to "Powrót na główną", {:action => "index"}
