%h1= @book.title
.left_column
   %p
      = image_tag @book.photo.url(:medium)
.right_column"}
   %p
      = @book.desc
      %br/
      %br/
      %i= @book.author
%div{:style => "clear: both;"}
   = link_to "Pokaż użytkowników, którzy posiadają tą książkę", {:action => "holders", :id => @book.id}, :remote => true, :"data-update" => "holders"
   #holders
   %br/
   %br/
   = link_to "Dodaj pozycję do swoich książek", :action => "add", :id => @book.slug
   %br/
   = link_to "Edytuj pozycję", edit_book_path
   %br/
   = link_to "Powrót", :back
