%h1= @book.title
.left_column
   %p
      = link_to image_tag(@book.photo.url(:medium)), @book.photo.url, :rel => "lightbox"
.right_column
   %p
      = @book.desc.gsub(/\n/, '<br />').html_safe
      %br/
      %br/
      %i= @book.author
%div{:style => "clear: both;"}
   = link_to "Pokaż użytkowników, którzy posiadają tą książkę", {:action => "holders", :id => @book.id}, :remote => true, :"data-update" => "holders"
   #holders
   %br/
   %br/
   = link_to "Dodaj pozycję do swoich książek", :action => "add", :id => @book.slug
   %br/
   = link_to "Edytuj pozycję", edit_book_path
   %br/
   = link_to "Powrót", :back
