%h1= @book.title
%span{:style => "text-align: center;"}
   %i= @book.author
.left_column
   %p
      = link_to image_tag(@book.photo.url(:medium)), @book.photo.url, :rel => "lightbox"
.right_column
   %p
      = markdown(@book.desc)
%div{:style => "clear: both;"}
   %p{:style => "text-align: center;"}
      %strong Ocena książki:
      = rate_for_this_book(@rate, @all_rates)
      %br/
      = link_to "Pokaż użytkowników, posiadających tą książkę", {:action => "holders", :id => @book.id}, :remote => true, :"data-update" => "holders"
      |
      = link_to "Pokaż opinie użytkowników o tej książce", {:action => "opinions", :id => @book.id}, :remote => true, :"data-update" => "opinions"
   #holders
   #opinions
   - if @assigment.nil?
      = link_to "Dodaj pozycję do swoich książek", :action => "add", :id => @book.slug
   %br/
   - if user_signed_in? and current_user.admin?
      %strong Opcje administratora:
      = link_to "Edytuj pozycję", edit_book_path
      |
      = link_to "Usuń pozycję", {:acttion => "destroy", :id => @book.slug, :complete => true}, :confirm => "Jesteś pewien, że chcesz usunąć tą pozycje całkowicie z bazy danych?", :method => :delete
   - if user_signed_in? and not @opinion_added
      %div{:style => "overflow: hidden;"}
         = form_for Opinion.new, :url => '/books/opinion_add' do |f|
            %p{:class => "form"}
               = f.hidden_field :book_id, :value => @book.id
            %p{:class => "form"}
               = f.label :title, "Tytuł opinii"
               = f.text_field :title
               = f.label :rate, "Ocena", :style => "width: 50px; margin-left: 50px;"
               = f.select :rate, '<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option>'.html_safe
            %p{:class => "form"}
               = f.text_area :text, :rows => 10, :cols => 80
            %p{:class => "form"}
               = f.submit "Dodaj opinię"
   %br/
   = link_to "Powrót", :back
