#topHeader{:style => "height: 48px;"}
   %div{:style => "float: left;"}
      %p
         = link_to "Strona główna", books_path
         |
         = link_to "Profile użytkowników", :controller => "/profiles"
         - if user_signed_in? then
            |
            = link_to "Mój profil", :controller => "/profiles", :action => "show", :id => current_user.username
            |
            = link_to "Zobacz swoje pozycje", :controller => "/books", :action => "my"
            |
            = link_to "Dodaj nową książkę", new_book_path
   %div{:class => "right"}
      %p
         %span{:class => "right"}
            - if not user_signed_in? then
               Nie masz konta?
               = link_to "Zarejestruj się!", new_user_registration_path
            - else
               Zalogowany jako
               = link_to current_user.username, edit_user_registration_path
               |
               = link_to "Wyloguj się", destroy_user_session_path, :method => :delete
   - if not user_signed_in? then
      %div
         = form_tag user_session_path, :class => "right", :style => "margin-right: 5px;" do
            = text_field_tag 'user[login]', nil, :style => "width: 100px; margin-right: 5px;", :placeholder => "Login"
            = password_field_tag 'user[password]', nil, :style => "width: 100px;", :placeholder => "Hasło"
            = check_box_tag 'user[remember_me]', 1, nil, :style => "width: 25px;"
            = submit_tag "Zaloguj"
