<!DOCTYPE html>
<html>
<head>
  <title>Bookweb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if user_signed_in? && action_name != "new" then %>
<%= link_to "Dodaj nową książkę", :controller => "books", :action => "new" %>
<% end %>
<%= yield %>

</body>
</html>
