.books_list
   %h2>
      Ustawienia
      = current_user.username

   = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|

      = devise_error_messages!

      %div{:class => "form"}
         = f.label :email
         = f.email_field :email
      %div{:class => "form hr"}
      %div{:class => "form"}>
         = f.label :password, "Nowe hasło"
         %small{:style => "font-style: italic;"} (zostaw puste, jeśli nie chcesz zmieniać)
         = f.password_field :password
      %div{:class => "form"}
         = f.label :password_confirmation, "Potwierdź hasło"
         = f.password_field :password_confirmation
      %div{:class => "form hr"}
      %div{:class => "form"}>
         = f.label :avatar, "Zdjęcie profilowe"
         %small{:style => "font-style: italic;"} (zostaw puste, jeśli nie chcesz zmieniać)
         = f.file_field :avatar, :value => current_user.avatar.url
      %div{:class => "form hr"}
      %div{:class => "form"}>
         = f.label :current_password, "Aktualne hasło"
         %small{:style => "font-style: italic;"} (musisz wpisać, aby potwierdzić zmiany)
         = f.password_field :current_password
      %div{:class => "form hr"}
      %div{:class => "form"}
         = f.submit "Aktualizuj"
   %div{:style => "clear: both;"}
.search_form
   = link_to image_tag(current_user.avatar.url(:medium)), current_user.avatar.url, :rel => "lightbox"
   %h3 Usuń konto
   %p>
      Jeśle jesteś niezadowolony z serwisu i chcesz usunąć swoje konto, to
      = link_to "usuń to konto", registration_path(resource_name), :confirm => "Jesteś pewien, że chcesz usunąć bezpowrotnie swoje konto?", :method => :delete
%div{:style => "clear: both;"}
   = link_to "Wróć", :back
