.left_column
   %h2>
      Ustawienia
      = current_user.username

   = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f|

      = devise_error_messages!

      %div
         = f.label :email
         %br/
         = f.email_field :email
      %div>
         = f.label :password, "Nowe hasło"
         %i (zostaw puste, jeśli nie chcesz zmieniać)
         %br/
         = f.password_field :password
      %div
         = f.label :password_confirmation, "Potwierdź hasło"
         %br/
         = f.password_field :password_confirmation
      %div>
         = f.label :current_password, "Aktualne hasło"
         %i (musisz wpisać, aby potwierdzić zmiany)
         %br/
         = f.password_field :current_password
      %div>
         = f.label :avatar, "Zdjęcie profilowe"
         %i (zostaw puste, jeśli nie chcesz zmieniać)
         %br/
         = f.file_field :avatar, :value => current_user.avatar.url
      %div
         = f.submit "Aktualizuj"

.right_column
   = link_to image_tag(current_user.avatar.url(:medium)), current_user.avatar.url, :rel => "lightbox"
   %h3 Usuń konto
   %p>
      Niezadowolony z serwisu?
      = link_to "Usuń moje konto", registration_path(resource_name), :confirm => "Jesteś pewien?", :method => :delete
%div{:style => "clear: both;"}
   = link_to "Wróć", :back
